html{
    height:98.5%;
}

body{
    min-height:100%;
    display:flex;
    flex-direction:column;
}

.header{
    position: fixed;
    width: 99%;
    text-align: center;
    table-layout: fixed;
    background-color: aqua;
    border-radius:50px;
}

.t01{
    text-align: center;
    table-layout: fixed;
    margin: auto;   
    width: 100%;
}

#nav01{
    font-size: x-large;
}

#title{
    font-size: 48;
}

#nav02{
    font-size: x-large;
}

.footer{
    margin-top:auto;
    width: 100%;
    text-align: center;
    background-color: aqua;
    border-radius:50px;
}