html{
    height:98.5%;
}

a, a:visited{
    color:rgb(211, 239, 255);
    text-shadow: 0 0 10px black;
}


h1, h2{
    text-shadow: 0 0 10px black;
}

ol{
    list-style:none;
    counter-reset: item;
    list-style-position: outside;
}

li{
    counter-increment: item;
}

ol li:before{
    content: counter(item) ". ";
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

body{
    min-height:100%;
    display:flex;
    flex-direction:column;
    font-family:Helvetica;
    color:white;
    background-color: rgb(99, 99, 99);
    text-shadow: 0 0 4px black;
}

.header{
    position: fixed;
    width: 99%;
    text-align: center;
    table-layout: fixed;
    background-color: darkblue;
    border-radius:50px;
}

.t01{
    text-align: center;
    table-layout: fixed;
    margin: auto;   
    width: 100%;
}

#nav01{
    font-size: x-large;
}

#title{
    font-size: 48;
    text-shadow: 0 0 20px black;
}

#nav02{
    font-size: x-large;
}

.picture{
    height: 400;
    border-radius: 20%;
}

#members_gallery{
    text-align: center;
    table-layout: fixed;
    margin: auto;
}

.member{
    height: 250;
    width: 250;
    border-radius: 50%;
}

#home_gallery{

    text-align: center;
    table-layout: fixed;
    margin-top: 5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%
}

.gallery{
    height: 225;
    border-radius: 25%;
    display: block;
}

.footer{
    margin-top:auto;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    background-color: darkblue;
    border-radius:50px;
}

#desc{
    width: 75%;
    margin:auto;
}

#frame{
    width: 90%;
    height: 600px;
    margin: 0 auto 2%;
}