html{
    height:98.5%;
}

a, a:visited{
    color:rgb(211, 239, 255);
    text-shadow: 0 0 10px black;
}


h1, h2{
    text-shadow: 0 0 10px black;
}

ol{
    list-style:none;
    counter-reset: item;
    list-style-position: outside;
}

li{
    counter-increment: item;
}

ol li:before{
    content: counter(item) ". ";
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

body{
    min-height:100%;
    display:flex;
    flex-direction:column;
    font-family:Helvetica;
    color:white;
    background-color: rgb(99, 99, 99);
    text-shadow: 0 0 4px black;
}

iframe{
    box-shadow: 1px 1px 20px black;
}

.header{
    position: fixed;
    width: 99%;
    text-align: center;
    table-layout: fixed;
    background-color: darkblue;
    border-radius:50px;
    box-shadow: 5px 5px 10px black; 
}

.t01{
    text-align: center;
    table-layout: fixed;
    margin: auto;   
    width: 100%;
}

#nav01{
    font-size: x-large;
}

#title{
    font-size: 48;
    text-shadow: 0 0 20px black;
}

#nav02{
    font-size: x-large;
}

.picture{
    height: 400;
    border-radius: 20%;
    box-shadow: 3px 3px 10px black; 

}

#members_gallery{
    text-align: center;
    table-layout: fixed;
    margin: auto auto 2% auto;
}

.member{
    height: 250;
    width: 250;
    border-radius: 50%;
}

.home_gallery{
    text-align: center;
    table-layout: fixed;
    margin-top: 5%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%
}

.gallery{
    text-align: center;
    height: 225;
    border-radius: 25%;
    display: block;
    box-shadow: 3px 3px 5px black; 
}

.filter{
    margin: auto;
    width: 85%;
}

.filter_btn{
    text-align: center;
    background-color: darkblue;
    border-radius:50px;
    box-shadow: 5px 5px 10px black; 
    cursor: pointer;
}

.footer{
    margin-top:auto;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    background-color: darkblue;
    border-radius:50px;
    box-shadow: 5px 5px 10px black; 
}
.button{
    margin: 0 auto 0 auto;
}

#desc{
    width: 75%;
    margin:auto;
}

#rframe{
    width: 90%;
    height: 600px;
    margin: 0 auto 2%;
}

#myInput {
    background-image: url('/images/search.jpg');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    opacity: 0.5;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:none;
    position:absolute;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}